<html>
<head>
  <title>CURD Operations</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<style>
    .jumbotron{
        margin: 100px 200px;
        background-color: orchid;
    }
    a{
        margin-left: 100px;
        border: 2px black solid;
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 10px;
        text-align: center;
        background-color:blue;
    }
    body{
        background-color: skyblue;
    }
</style>
<body>
<div class="jumbotron">
    <a class="text-white" href="/create/">Create</a>
    <a class="text-white" href="/retrieve/">Retrieve</a>
    <a class="text-white" href="/update/">Update</a>
    <a class="text-white" href="/delete/">Delete</a>
</div>
</body>
</html>